* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
}

:root {
    /* background colors  */
    --bg-color-primary: #036147;
    --bg-color-secondary: #ebe8e1;
    --bg-color-tertiory: #f4f2ec;
    --bg-color-fourth: #F26C4E;
    /* text-color */
    --forgrade-color-primary: #036147;
    --forgrade-color-secondary: #000000;
    --forgrade-color-tertiory: #ffffff;
    --hover-color: #F26C4E;
    /* font-family */
    --font-body-family: "DM Sans", sans-serif;
    --font-family-secondary: "Poppins", sans-serif;
    /* button radius */
    --button-radius: 5px;
    /* font-size */
    --font-size-superior: 39.8px;
    --font-size-heads: 33.18px;
    --font-size-subhead: 20px;
    --font-size-primary: 16px;
    --font-size-secondary: 14px;
    --font-size-tertiory: 12px;
    --font-size-h5: 19.2px;
    /* font-weight */
    --font-weight-primary: 900;
    --font-weight-secondary: 600;
    --font-weight-tertiory: 400;
}

.h5 {
    font-size: var(--font-size-h5);
    font-style: normal;
    font-weight: var(--font-weight-tertiory);
    line-height: 0%;
    font-family: var(--font-family-secondary);
}

.small-txt {
    font-size: var(--font-size-tertiory);
    font-style: normal;
    font-weight: var(--font-weight-tertiory);
    line-height: 0%;
    font-family: var(--font-body-family);
}

.page-width {
    max-width: calc(1800px - 50px);
    padding: 0 50px;
    margin: 0 auto;
}

.anouncement-bar {
    background-color: var(--bg-color-primary);
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anouncement-txt {
    font-size: var(--font-size-secondary);
    font-weight: var(--font-weight-tertiory);
    color: var(--forgrade-color-tertiory);
    font-family: var(--font-body-family);
    letter-spacing: 0;
    line-height: 28.2px;
}

.flex {
    display: inline-flex;
}

.rich-txt-wrapper,
.multi-column-wrapper {
    background-color: var(--bg-color-secondary);
}

#header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--bg-color-secondary);
}

#header.scrolled {
    background-color: var(--forgrade-color-tertiory);
}

.list-unset {
    list-style: none;
}

.txt-none {
    text-decoration: none;
    color: var(--forgrade-color-tertiory);
}

.bg-color-secondary {
    background-color: var(--bg-color-secondary);
}

.blog-para {
    font-size: var(--font-size-secondary);
    font-family: var(--font-body-family);
    font-weight: var(--font-weight-tertiory);
    line-height: 1.5;
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-navbar {
    padding: 5px 40px;
}

.caret {
    height: 16px;
}

.test {
    height: 500px;
}

.navlist {
    text-decoration: none;
    color: var(--forgrade-color-secondary);
}

.home:hover,
.navlist:hover {
    color: var(--hover-color);
}

.button-underline:hover {
    color: var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}

.button-outline:hover,
.button-primary:hover {
    background-color: var(--bg-color-fourth);
    border: 1px solid var(--hover-color);
}

.home {
    color: var(--forgrade-color-primary);
    text-decoration: underline;
}

.navlinks {
    gap: 25px;
    font-size: var(--font-size-primary);
    font-family: var(--font-body-family);
    line-height: 25.2px;
}

.header-icons {
    cursor: pointer;
    margin-left: 65px;
    gap: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    aspect-ratio: 11/5;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    background-color: #ffffff24;
    cursor: pointer;
    padding: 25px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3f3f3;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 16px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.banner-slides {
    background-color: var(--bg-color-secondary);
    padding: 0 0 20px 0;
}

.banner-slider {
    border-radius: 10px;
    position: relative;
}

.product-img {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.shop-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.heading {
    font-size: var(--font-size-superior);
    font-weight: 700;
    color: var(--forgrade-color-tertiory);
    font-family: var(--font-family-secondary);
}

.radius {
    border-radius: 10px;
}

.pre-heads {
    font-size: var(--font-size-heads);
    font-style: normal;
    font-weight: var(--font-weight-secondary);
    font-family: var(--font-family-secondary);
}

.sub-heading {
    font-size: var(--font-size-primary);
    font-weight: var(--font-weight-secondary);
    font-family: var(--font-family-secondary);
}

.multi-column-para {
    max-width: 1206px;
}

.multi-column-image-txt {
    display: flex;
    flex-direction: row;
    gap: 209px;
    padding: 50px 0 0 0;
}

.premium-quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.button-outline {
    padding: 10px 20px;
    font-size: var(--font-size-secondary);
    font-style: normal;
    color: var(--forgrade-color-tertiory);
    border: 1px solid #ffffffc0;
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: #ffffff4a;
    text-decoration: none;
    font-family: var(--font-body-family);
}

.button-primary {
    padding: 15px 20px;
    font-size: var(--font-size-secondary);
    font-style: normal;
    color: var(--forgrade-color-tertiory);
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: var(--bg-color-primary);
    text-decoration: none;
    font-family: var(--font-body-family);
}

.button-tertiory {
    padding: 15px 20px;
    font-size: var(--font-size-secondary);
    font-style: normal;
    color: var(--forgrade-color-tertiory);
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: var(--bg-color-fourth);
    text-decoration: none;
    font-family: var(--font-body-family);
}

.button-underline {
    font-size: var(--font-size-secondary);
    font-style: normal;
    border-bottom: 1px solid var(--forgrade-color-secondary);
    color: var(--forgrade-color-secondary);
    cursor: pointer;
    padding: 10px 0;
    text-decoration: none;
    font-family: var(--font-body-family);
}

.banner-txt-ctn {
    display: flex;
    flex-direction: column;
    gap: 29px;
    align-items: flex-start;
    position: absolute;
    left: 16%;
    transform: translate(-50%, -50%);
    z-index: 999;
    bottom: 0%;
}

.marque-img {
    max-width: 256px;
    background-color: white;
    padding: 8px 16px;
    height: 85px;
    object-fit: contain;
    border-radius: 10px;
}

.collection-img {
    overflow: hidden;
    border-radius: 100%;
}

.collection-img img {
    border-radius: 100%;
    display: flex;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.collection-img img:hover {
    transform: scale(1.1);
}

.collection-list-wrapper,
.collection-list2-wraper,
.marque-wrapper,
.product-scroll-wrapper,
.instruction-wrapper.featured-product-wrapper,
.blog-wrapper,
.accordian-wrapper,
.feedback-card {
    background-color: var(--bg-color-tertiory);
}

.collection-list-ctn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 0;
    gap: 30px;
}

.collection-card {
    width: calc(14.28% - 30px);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 46px;
}

.center {
    text-align: center;
}

.rich-txt-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 50px;
    align-items: center;
}

.multi-column-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.multi-column-image {
    display: flex;
    height: 33%;
    width: 40%;
    justify-content: center;
}

.rich-txt-para {
    text-align: center;
    font-size: var(--font-size-primary);
    font-style: normal;
    font-family: var(--font-body-family);
}

.rich-txt-para-ctn {
    width: 57%;
}

.featured-product-ctn,
.multi-column-wrapper,
.info-content,
.product-scroll-wrapper,
.instruction-wrapper,
.blog-wrapper,
.accordian-wrapper,
.feedback-wrapper {
    padding: 100px 0;
}

.featured-product,
.collection-list2-title,
.product-scroll-title {
    display: flex;
    justify-content: space-between;
}

.product-image {
    aspect-ratio: 1/1;
    display: flex;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.marque-wrapper {
    padding-bottom: 100px;
}

.marque-media {
    display: flex;
    object-fit: cover;
    aspect-ratio: 2/0;
}

.marque-media img {
    max-width: 367px;
    height: 54px;
}

.scroll-marquee {
    padding: 10px 0 0 0;
}

.collection-card2-img img {
    display: flex;
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 0;
}

.marquee {
    white-space: nowrap;
}

.product-card {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--bg-color-secondary);
    display: flex;
    flex-direction: column;
    /* transition: 3.3s ease; */
    width: calc(25% - 5px);
    transition: 1.0s;
}

.product-card:hover .product-cart {
    transform: translateY(-10px);
}

.product-cards,
.product-cards2,
.collection-cards2,
.product-scroll-cards {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.collection-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 15px;
    padding: 0px 0 20px;
    background-color: var(--bg-color-secondary);
    width: 33%;
    transition: 1.0s;
}

.collection-card2:hover {
    background-color: var(--bg-color-primary);
    color: var(--forgrade-color-tertiory);
}

.full-width {
    width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    font-size: var(--font-size-primary);
    font-style: normal;
    font-family: var(--font-body-family);
}

.collection-card2-img {
    display: contents;
    cursor: pointer;
}

.ratings {
    display: flex;
    gap: 23px;
}

.product-price {
    font-size: var(--font-size-subhead);
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: var(--font-weight-secondary);
}

.product-batch {
    padding: 4px 8px;
    font-size: var(--font-size-secondary);
    font-style: normal;
    font-family: var(--font-body-family);
    background-color: var(--bg-color-fourth);
    border-radius: 10px;
    text-decoration: none;
    color: var(--forgrade-color-tertiory);
    position: absolute;
    left: 13%;
    transform: translate(-50%, -50%);
    top: 8%;
}

.product-cart {
    padding: 4px 8px;
    font-size: var(--font-size-secondary);
    font-style: normal;
    font-family: var(--font-body-family);
    background-color: var(--bg-color-fourth);
    border-radius: 2px;
    text-decoration: none;
    color: var(--forgrade-color-tertiory);
    position: absolute;
    left: 85%;
    bottom: 0%;
    transition: transform 0.5s ease;
    transform: translateY(34px);
}

.product-card2:hover,
.product-card:hover,
.product-scroll-card:hover {
    background-color: var(--bg-color-primary);
    color: var(--forgrade-color-tertiory);
}

.product-scroll-card:hover .product-cart {
    transform: translateY(-10px);
}

.product-card2:hover .product-cart {
    transform: translateY(-10px);
}

.marque-content {
    background-color: var(--bg-color-secondary);
    padding: 15px;
    border-radius: 10px;
}

.title {
    align-items: center;
    gap: 10px;
}

.media-ctn {
    display: flex;
    gap: 10px;
}

.info-txt {
    display: flex;
    align-items: center;
}

.info-wrapper,
.img-with-txt-wrapper {
    background-color: var(--bg-color-primary);
    color: var(--forgrade-color-tertiory);
    font-family: var(--font-body-family);
}

.brand-highlights-wraper {
    background-color: var(--bg-color-primary);
    color: var(--forgrade-color-tertiory);
    font-family: var(--font-family-secondary);
}

.info-content {
    display: flex;
    justify-content: center;
    padding: 126px;
}

.info-img {
    display: flex;
    object-fit: contain;
    aspect-ratio: 2/2;
    width: 100%;
}

.info-img img {
    border-radius: 15px;
    object-fit: cover;
}

.info-para,
.title-txt {
    font-size: var(--font-size-primary);
    font-style: normal;
    font-family: var(--font-body-family);
}

.product-scroll-content {
    display: flex;
    padding: 50px 0;
    gap: 20px;
}

.img-marque-ctn {
    max-width: 55%;
    display: block;
}

.no-padding {
    padding: 0;
}

.scroll-products {
    max-width: 45%;
}

.info-txt-ctn {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.product-scroll-main-img {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0%;
    object-position: center;
}

.product-scroll-img {
    display: flex;
    aspect-ratio: 10/12.5;
    object-fit: cover;
}

.product-scroll-img img {
    object-fit: cover;
    object-position: right;
}

.product-scroll-card {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--bg-color-secondary);
    display: flex;
    flex-direction: column;
    width: calc(50% - 5px);
    transition: 1.0s;
}

.img-ctn {
    display: flex;
    object-fit: cover;
    aspect-ratio: 10/12;
    width: 50%;
}

.img-txt {
    width: 55%;
    padding: 50px;
}

.img-txt-ctn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-with-txt-ctn {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-card2 {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--bg-color-secondary);
    display: flex;
    flex-direction: column;
    transition: 1.0s;
    width: calc(33.3% - 5px);
}

.featured-Product-with-img {
    display: flex;
    gap: 10px;
    padding: 40px 0;
}

.featured-Product-img {
    display: flex;
    width: 50%;
    object-fit: cover;
}

.highlight-txt {
    display: flex;
    align-items: center;
}

.gap {
    gap: 10px;
}

.newslater-img-ctn {
    display: flex;
    position: relative;
}

.newslater-img-ctn img {
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
    aspect-ratio: 9/2;
}

.news-later-para {
    font-size: var(--font-size-secondary);
    font-family: var(--font-body-family);
    font-weight: 400;
    line-height: 0;
}

.newslater-content {
    display: flex;
    position: absolute;
    top: 50%;
    justify-content: center;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.newslater-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
    color: var(--forgrade-color-tertiory);
}

#newslater-input {
    padding: 15px 20px;
    box-sizing: border-box;
    color: var(--forgrade-color-tertiory);
    font-family: var(--font-body-family);
    font-size: var(--font-size-secondary);
    font-weight: 500;
    background-color: #00000041;
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-radius: 5px;
    width: 100%;
    outline: none;
}

.news-later-btn-ctn {
    width: 20%;
}

.newslater-inpt-ctn {
    width: 49%;
}

.newslater-input-button {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 23px 0 0 0;
}

::placeholder {
    color: var(--forgrade-color-tertiory);
}

.blog-img-ctn {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.blog-card {
    display: flex;
    width: 32%;
}

.blog-txt-ctn {
    position: absolute;
    top: 68%;
    left: 5%;
    transform: translateY(10px);
    transition: 0.5s;
}

.blog-card:hover .blog-txt-ctn {
    transform: translateY(-50px);
}

.blog-card:hover .blog-img-ctn img {
    transition: 0.5s;
    filter: brightness(0.5);
}

.blog-card-ctn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0 0 0;
    width: 100%;
    gap: 20px;
}

.blog-img-ctn img {
    display: flex;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.blog-img-txt {
    display: flex;
    flex-direction: column;
    gap: 17px;
    color: var(--forgrade-color-tertiory);
}

.accordian-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    max-width: 1100px;
    margin: auto;
}

.accordian-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordian-right {
    flex: 1.5;
}

details {
    background-color: var(--bg-color-secondary);
    border: 1px solid #eee;
    border-radius: 6px;
    margin-bottom: 12px;
    padding: 0;
    overflow: hidden;
}

summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

summary::after {
    content: '+';
    font-size: 18px;
    transition: transform 0.2s ease;
}

details[open] summary::after {
    content: '+';
}

details div.content {
    padding: 16px 20px;
    background-color: var(--bg-color-secondary);
}

.feedback-marquee {
    display: flex;
    flex-wrap: nowrap;
    gap: 33px;
    padding: 50px 0 0 0;
    animation: blogpost 100s linear infinite;
}

.feedback-marquee:hover {
    animation-play-state: paused;
}

@keyframes blogpost {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.feedback-marquee-ctn {
    display: flex;
    overflow: hidden;
}

.feedback-card {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feedback-para {
    border-bottom: 1px solid var(--bg-color-fourth);
    padding: 0 0 10px 0;
}

.footer-wraper {
    margin: auto;
    background-color: var(--bg-color-primary);
    padding: 100px 0 30px 0;
    color: var(--forgrade-color-tertiory);
    font-family: var(--font-body-family);
    font-size: var(--font-size-secondary);
    font-style: normal;
}

.footer-column {
    width: 25%;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-heads {
    padding: 0px 0 45px 0;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.payment-section {
    padding: 100px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.pay-icons {
    cursor: pointer;
    gap: 5px;
}