*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* background colors  */
 --Bg-color-primary:#036147;
 --Bg-color-secondary:#ebe8e1;
 --Bg-color-tertiory:##f4f2ec;
 --Bg-color-fourth:#F26C4E;
    /* text-color */
 --forgrade-color-primary:#036147;
 --forgrade-color-secondary:#000000;
 --forgrade-color-tertiory:#ffffff;
 --hover-color:#F26C4E;
    /* font-family */
 --font-body-family:"DM Sans", sans-serif;
 /* button radius */
 --button-radius:5px;
 /* font-size */
  --font-size-primary:16px;
  --font-size-secondary:14px;
  --font-size-tertiory:10px;
  /* font-weight */
  --font-weight-primary:900;
  --font-weight-secondary:600;
  --font-weight-tertiory:400;
}
.page-width{
    max-width:calc(1800px - 50px);
    margin:0 auto ;
}
.main-padding{
    padding: 5px 50px;
}
.Anouncement-bar {
    background-color: var(--Bg-color-primary);
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anouncement-txt{
    font-size: var(--font-size-secondary);
    font-weight: var(--font-weight-tertiory);
    color: var(--forgrade-color-tertiory);
    font-family: var(--font-body-family);
}

.flex {
  display: inline-flex;
}
.header-wrapper{
    background-color:var(--Bg-color-secondary);
}
.list-unset{
    list-style: none;
}
.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.header-navbar{
    padding: 5px 40px;
}
.caret{
    height: 16px;
}
.test{
    height: 500px;
}
.navlist{
    text-decoration: none;
    color: var(--forgrade-color-secondary);
}
 .navlist:hover{
  color:var(--hover-color);  
}
.home:hover{
    color: var(--hover-color);
}
.home{
    color: var(--forgrade-color-primary);
    text-decoration: underline;
}
.navlinks{
    gap: 25px;
    font-size: var(--font-size-primary);
    font-family: var(--font-body-family);
}
.header-icons{
    cursor: pointer;
    margin-left: 65px;
    gap: 20px;
}
footer {
    background-color:var(--Bg-color-primary);
    color: var(--forgrade-color-tertiory);
    padding: 40px 0;
    font-family: Arial, sans-serif;
}
 .footer-content{
    margin: 0 auto;
    display: flex;
 }
.footer-column {
    flex: 1 1 20%; 
    margin-bottom: 20px;
}
.footer-column h5 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
}
.footer-column ul {
    list-style-type: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
}
